body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px;
}

h1 {
    color: #333;
    text-align: center;
    font-size: 24px;
}

h2 {
    color: #333;
    font-size: 20px;
    margin-top: 20px;
}

#colorTexto {
    font-size: 18px;
    color: black;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid transparent; /* Añadir borde transparente por defecto */
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo específico para el botón del Ejercicio 1 */
#cambiarColor {
    background-color: orange;
}

#cambiarColor:hover {
    background-color: darkorange;
}

/* Estilo específico para el botón del Ejercicio 2 */
#agregarTarea {
    background-color: lightgreen;
}

#agregarTarea:hover {
    background-color: green;
}

/* Estilo para las tareas y el botón de eliminar */
.tarea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: white; /* Color de fondo blanco */
}

.tarea span {
    flex-grow: 1; /* Permitir que el texto de la tarea crezca para empujar el botón a la derecha */
}

.eliminarTarea {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px; /* Añadir margen a la izquierda */
}

.eliminarTarea:hover {
    background-color: darkred;
}

/* Estilo para el contenedor del Ejercicio 2 */
#ejercicio2 {
    background: none;
    box-shadow: none;
    padding: 0;
}

/* Estilo para el contenedor del Ejercicio 3 */
#ejercicio3 {
    background: none;
    box-shadow: none;
    padding: 0;
}

/* Estilo para el input de tarea */
#tareaInput {
    width: calc(100% - 120px); /* Ajustar el ancho del input */
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Estilo para la lista de pizzas */
#menuPizzas {
    background-color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
    list-style-type: none;
}